/* blocks */
.all-blocks {
  font-size: 16px;
  margin-bottom: 25px;
  padding: 10px 0;
  display: inline-flexbox;
  flex-flow: column nowrap;
  /* border: 2px solid rgb(255, 175, 55); */
}


.blockContent {
  font-size: 16px;
  color: #143938;
  margin: 0 10% 10px 10%;

  display: grid;
  grid-template-rows: 50px 30px auto auto;
  grid-template-columns: 50px 40px 80px 40px auto 50px 50px;
  grid-template-areas:
    "date . icon       scale   title   mark     remove "
    ".    . time       content content content content "
    ".    . checkbox   content content content content "
    ".    .  .         content content content content ";
}