.btn {
  background-color: rgb(68, 68, 68);
  -webkit-app-region: no-drag;
  padding-right: 1px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.btn:focus{
  outline: none !important;
  box-shadow: none;
}

.icon {
  background-color: rgb(68, 68, 68);
  width: 20px;
  height: 20px;
}