.navigator-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #143938;
    height: 30px;
    bottom: 0;
    position: fixed;
    z-index: 300;
  }
  .view-mode{
    width: 70%;
    display: flex;
    justify-content:space-around;
  }
  .select-mode{
    display: none;
    width: 70%;
    justify-content:space-around;
  }
  
  .navigation-bar img {
    width: 16px;
  
    cursor: pointer;  
    color:#fafafa;
  }

  
  .search{
    padding-top: 5px;
    padding-left: 5%;
  }
  .search > div {
    display: inline-block;
    position: relative;
  }
  
  .search > div:after {
    content: "";
    background: white;
    width: 3px;
    height: 6px;
    position: absolute;
    top: 13px;
    right: -1px;
    transform: rotate(135deg);
    box-shadow: 1px 0 #272a2b;
  }
  
  .search > div > input {
    font-size: 12px;
    font-weight: 100;
    background: rgb(255, 255, 255);
    width: 5px;
    height: 5px;
    padding: 6px;
    border: solid 2px white;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 1px #272a2b;
    transition: width 0.5s;
  }
  
  .search > div > input::placeholder {
    color: #1e525054;
    opacity: 1;
  }
  .search > div > input:focus,
  .search > div > input:valid {
    width: 180px;
  }