
  .container{
    width: 100%;
    margin-top: 20px;
  }

  
  .attachment_file_zone{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
    border-width: 1.5px;
    border-radius: 2px;
    border-color: #69cb43;
    border-style: dashed;
    background-color: #fafafa;
    color: #69CB43;
    outline: none;
    transition: border .24s ease-in-out;
  }
